* {
  box-sizing: border-box;
}

body {
  /* max-width:720px; */
  font-family: 'Inter', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nav--logo {
  height: 60px;
  margin-right:7px;
}

.nav--container {
  margin: 0 auto;
  max-width: 550px;
  display: flex;
  align-items: center;
  height: 90px;
  padding: 30px 25px;
  background:#21222A;
}

.nav--title, .nav--items {
  margin: 0;
}

.nav--title {
  margin-right:auto;
  color: #61DAFB;
  font-size: 22px;
  font-weight: 700;

}

.nav--items {
  color: #DEEBF8;
  font-weight: 600;
}

main {
  margin: 0 auto;
  max-width: 550px;
  height:450px;
  padding: 57px 27px;
  color: white;
  background: no-repeat right #282D35 url('./reactjs-icon.png');
}

.main--title {
  font-size: 39px;
  /* letter-spacing: -.05em; */
  margin: 0;
}

.main--items {
  margin-top: 40px;
  max-width: 400px;
  
}

.main--items > li {
  font-family: Inter;
  font-size: 16px;
  line-height: 19px;
  padding: 10px 0;
  
}

.main--items > li::marker {
  font-size:1.8rem;
  color: #61DAFB;
}
